<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soecode.lyf.mapper.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.soecode.lyf.entity.Commodity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="commodity_name" property="commodity_name" jdbcType="VARCHAR" />
    <result column="commodity_price" property="commodity_price" jdbcType="INTEGER" />
    <result column="commodity_address" property="commodity_address" jdbcType="VARCHAR" />
    <result column="commodity_cost" property="commodity_cost" jdbcType="DECIMAL" />
    <result column="type_id" property="type_id" jdbcType="INTEGER" />
    <result column="user_iphone" property="user_iphone" jdbcType="VARCHAR" />
    <result column="user_qq" property="user_qq" jdbcType="VARCHAR" />
    <result column="create_data" property="create_data" jdbcType="VARCHAR" />
    <result column="create_by" property="create_by" jdbcType="VARCHAR" />
    <result column="update_data" property="update_data" jdbcType="VARCHAR" />
    <result column="update_by" property="update_by" jdbcType="VARCHAR" />
    <result column="commodity_status" property="commodity_status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.soecode.lyf.entity.CommodityWithBLOBs" extends="BaseResultMap" >
    <result column="commodity_photo" property="commodity_photo" jdbcType="LONGVARBINARY" />
    <result column="commodity_describe" property="commodity_describe" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, commodity_name, commodity_price, commodity_address, commodity_cost, type_id, 
    user_iphone, user_qq, create_data, create_by, update_data, update_by, other
  </sql>
  <sql id="Blob_Column_List" >
    commodity_photo, commodity_describe
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.soecode.lyf.entity.CommodityWithBLOBs" >
    insert into commodity (id, commodity_name, commodity_price, 
      commodity_address, commodity_cost, type_id, 
      user_iphone, user_qq, create_data, 
      create_by, update_data, update_by, 
      other, commodity_photo, commodity_describe
      )
    values (#{id,jdbcType=INTEGER}, #{commodity_name,jdbcType=VARCHAR}, #{commodity_price,jdbcType=INTEGER}, 
      #{commodity_address,jdbcType=VARCHAR}, #{commodity_cost,jdbcType=DECIMAL}, #{type_id,jdbcType=INTEGER}, 
      #{user_iphone,jdbcType=VARCHAR}, #{user_qq,jdbcType=VARCHAR}, #{create_data,jdbcType=VARCHAR}, 
      #{create_by,jdbcType=VARCHAR}, #{update_data,jdbcType=VARCHAR}, #{update_by,jdbcType=VARCHAR}, 
      #{other,jdbcType=VARCHAR}, #{commodity_photo,jdbcType=LONGVARBINARY}, #{commodity_describe,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.soecode.lyf.entity.CommodityWithBLOBs" >
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commodity_name != null" >
        commodity_name,
      </if>
      <if test="commodity_price != null" >
        commodity_price,
      </if>
      <if test="commodity_address != null" >
        commodity_address,
      </if>
      <if test="commodity_cost != null" >
        commodity_cost,
      </if>
      <if test="type_id != null" >
        type_id,
      </if>
      <if test="user_iphone != null" >
        user_iphone,
      </if>
      <if test="user_qq != null" >
        user_qq,
      </if>
      <if test="create_data != null" >
        create_data,
      </if>
      <if test="create_by != null" >
        create_by,
      </if>
      <if test="update_data != null" >
        update_data,
      </if>
      <if test="update_by != null" >
        update_by,
      </if>
      <if test="other != null" >
        other,
      </if>
      <if test="commodity_photo != null" >
        commodity_photo,
      </if>
      <if test="commodity_describe != null" >
        commodity_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commodity_name != null" >
        #{commodity_name,jdbcType=VARCHAR},
      </if>
      <if test="commodity_price != null" >
        #{commodity_price,jdbcType=INTEGER},
      </if>
      <if test="commodity_address != null" >
        #{commodity_address,jdbcType=VARCHAR},
      </if>
      <if test="commodity_cost != null" >
        #{commodity_cost,jdbcType=DECIMAL},
      </if>
      <if test="type_id != null" >
        #{type_id,jdbcType=INTEGER},
      </if>
      <if test="user_iphone != null" >
        #{user_iphone,jdbcType=VARCHAR},
      </if>
      <if test="user_qq != null" >
        #{user_qq,jdbcType=VARCHAR},
      </if>
      <if test="create_data != null" >
        #{create_data,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null" >
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="update_data != null" >
        #{update_data,jdbcType=VARCHAR},
      </if>
      <if test="update_by != null" >
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="commodity_photo != null" >
        #{commodity_photo,jdbcType=LONGVARBINARY},
      </if>
      <if test="commodity_describe != null" >
        #{commodity_describe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soecode.lyf.entity.CommodityWithBLOBs" >
    update commodity
    <set >
      <if test="commodity_name != null" >
        commodity_name = #{commodity_name,jdbcType=VARCHAR},
      </if>
      <if test="commodity_price != null" >
        commodity_price = #{commodity_price,jdbcType=INTEGER},
      </if>
      <if test="commodity_address != null" >
        commodity_address = #{commodity_address,jdbcType=VARCHAR},
      </if>
      <if test="commodity_cost != null" >
        commodity_cost = #{commodity_cost,jdbcType=DECIMAL},
      </if>
      <if test="type_id != null" >
        type_id = #{type_id,jdbcType=INTEGER},
      </if>
      <if test="user_iphone != null" >
        user_iphone = #{user_iphone,jdbcType=VARCHAR},
      </if>
      <if test="user_qq != null" >
        user_qq = #{user_qq,jdbcType=VARCHAR},
      </if>
      <if test="create_data != null" >
        create_data = #{create_data,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null" >
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="update_data != null" >
        update_data = #{update_data,jdbcType=VARCHAR},
      </if>
      <if test="update_by != null" >
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="commodity_photo != null" >
        commodity_photo = #{commodity_photo,jdbcType=LONGVARBINARY},
      </if>
      <if test="commodity_describe != null" >
        commodity_describe = #{commodity_describe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.soecode.lyf.entity.CommodityWithBLOBs" >
    update commodity
    set commodity_name = #{commodity_name,jdbcType=VARCHAR},
      commodity_price = #{commodity_price,jdbcType=INTEGER},
      commodity_address = #{commodity_address,jdbcType=VARCHAR},
      commodity_cost = #{commodity_cost,jdbcType=DECIMAL},
      type_id = #{type_id,jdbcType=INTEGER},
      user_iphone = #{user_iphone,jdbcType=VARCHAR},
      user_qq = #{user_qq,jdbcType=VARCHAR},
      create_data = #{create_data,jdbcType=VARCHAR},
      create_by = #{create_by,jdbcType=VARCHAR},
      update_data = #{update_data,jdbcType=VARCHAR},
      update_by = #{update_by,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      commodity_photo = #{commodity_photo,jdbcType=LONGVARBINARY},
      commodity_describe = #{commodity_describe,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soecode.lyf.entity.Commodity" >
    update commodity
    set commodity_name = #{commodity_name,jdbcType=VARCHAR},
      commodity_price = #{commodity_price,jdbcType=INTEGER},
      commodity_address = #{commodity_address,jdbcType=VARCHAR},
      commodity_cost = #{commodity_cost,jdbcType=DECIMAL},
      type_id = #{type_id,jdbcType=INTEGER},
      user_iphone = #{user_iphone,jdbcType=VARCHAR},
      user_qq = #{user_qq,jdbcType=VARCHAR},
      create_data = #{create_data,jdbcType=VARCHAR},
      create_by = #{create_by,jdbcType=VARCHAR},
      update_data = #{update_data,jdbcType=VARCHAR},
      update_by = #{update_by,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>